.elements__like {
  background-image: url('../../../images/heart.svg');
  width: 22px;
  height: 19px;
  border: none;
  background-color: white;
  margin: 31px 20px auto auto;
}

.elements__like:hover {
  opacity: 0.6;
  cursor: pointer;
}
