.popup__field {
    min-height: 27px;
    margin-top: 30px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    background-color: transparent;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 1.2;
    font-weight: normal;
    color: black;
    overflow-y: scroll;
}

.popup__field:focus {
    outline-color: #bcbcc4;
}

@media screen and (max-width: 767px) {
  .popup__field {
    padding-top: 0;
  }
}
